<!DOCTYPE html>
<html>
<head>
  <title>Trivia Quiz App</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>Welcome to the Trivia Quiz App</h1>
  <ul>
    <li>
    Create a <a href="/quiz-gen">Quiz</a>

    </li>
    <li>
      Review <a href="/history">Scores</a>
    </li>

    <li>
      Clear <a href="/clear">History</a>
    </li>
  </ul>
</body>
</html>
